html {
  height: 100%;
}

#books-container {
  background-color: #724935;
  width: 60%;
  height: 600px;
}

.books-row {
  display: inline-block;
  height: 250px;
  width: 100%;
}

.bookcase-divider {
  background-color: #8D5E2F;
  width: 100%;
  height: 30px;
}

.book {
  height: 150px;
  float: left;
  margin-top: 9%;
}

.book h2 {
  padding: 0;
  margin: 35% 0 0 0;
  font-size: 1rem;
  writing-mode: vertical-rl !important;
}

.book h3 {
  padding: 0;
  margin: 35% 0 0 25%;
  font-size: 0.75rem;
  writing-mode: vertical-rl !important;
}

.book:hover {
  transform: scale(1.05);
}

.moved {
  margin-right: 2.5%;
  transform: translateY(-3px) translateX(15px) rotate(9deg);
}

.white-letter {
  color: whitesmoke;
}

.black-letter {
  color: black;
}

.book-thin {
  width: 1.5%;
}

.book-fat {
  width: 2%;
}

.green {
  background-color: #57a83c;
}

.cadetblue {
  background-color: rgb(22, 121, 124);
}

.gold {
  background-color: darkgoldenrod;
}

.darkred {
  background-color: darkred;
}